body {
  min-height: 100vh;
  font-family:
    "Noto Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  width: 340px;
  margin: auto;
  margin-top: 200px;
  padding: 24px;
  gap: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow:
    0px 1px 2px -1px rgb(0 0 0 / 0.1),
    0px 1px 3px 0 rgb(0 0 0 / 0.1);
}

.testimonial-card__author {
  display: flex;
  gap: 16px;
}

.testimonial-card__avatar {
  width: 48px;
  height: 48px;
}

.testimonial-card__surname {
  color: #171717;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.testimonial-card__username {
  color: #525252;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.testimonial-card__quote {
  color: #525252;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
