body {
  min-height: 100vh;
  font-family:
    "Noto Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  margin: auto;
  margin-top: 200px;
  padding: 24px 16px;
  gap: 40px;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  box-shadow:
    0px 1px 2px 0 rgb(0 0 0 / 0.06),
    0px 1px 3px 0 rgb(0 0 0 / 0.1);
}

.profile-card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.profile-card__thumbnail {
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  display: block;
}

.profile-card__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.profile-card__name {
  color: #171717;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}

.profile-card__job-title {
  color: #525252;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.profile-card__quote {
  color: #525252;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.profile-card__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.profile-card__contact-button {
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: #4338ca;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  width: 100%;

  &:hover {
    background-color: #3730a3;
    cursor: pointer;
  }

  &:focus,
  &:focus-visible {
    border-radius: 4px;
    outline: 0;
    background-color: #3730a3;
    box-shadow: 0px 0px 0px 4px #444ce71f;
  }

  &:disabled {
    background-color: #f5f5f5;
    color: #a3a3a3;
  }
}

.profile-card__contact-links {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
}

.profile-card__contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  color: #4338ca;

  &:hover {
    background-color: #fafafa;
  }

  &:focus,
  &:focus-visible {
    border-radius: 4px;
    outline: 0;
    background-color: #fafafa;
    box-shadow: 0px 0px 0px 4px #444ce71f;
  }
}

.profile-card__contact-link svg {
  width: 20px;
  height: 20px;
  display: block;
}
