body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
  font-family:
    "Noto Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blog-card {
  width: 340px;
  margin: auto;
  margin-top: 120px;
  overflow: hidden;
  border-radius: 8px;
  background-color: white;
  box-shadow:
    0px 1px 2px 0 rgb(0 0 0 / 0.06),
    0px 1px 3px 0 rgb(0 0 0 / 0.1);
}

.blog-card__media {
  width: 100%;
  height: 288px;
  margin: 0;
}

.blog-card__thumbnail {
  align-self: stretch;
  width: 100%;
  height: 100%;
  object-fit: cover;
  line-height: 0;
}

.blog-card__content {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 12px;
}

.blog-card__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.blog-card__badge {
  width: fit-content;
  padding: 2px 8px;
  border: 1px solid #bbf7d0;
  border-radius: 9999px;
  background-color: #f0fdf4;
  color: #15803d;
  font-weight: 400;
  font-size: 14px;
}

.blog-card__title {
  color: #171717;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.blog-card__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blog-card__text {
  color: #525252;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.blog-card__button {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  border: none;
  background-color: white;
  color: #4338ca;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 0 2px;

  &:hover {
    color: #3730a3;
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus-visible {
    border-radius: 4px;
    outline: 0;
    box-shadow: 0px 0px 0px 4px #444ce71f;
    color: #3730a3;
  }

  &:disabled {
    color: #a3a3a3;
  }
}
